paddingLR(aSize) {
    padding-right: aSize;
    padding-left: aSize;
}

paddingTB(aSize) {
    padding-top: aSize;
    padding-bottom: aSize;
}

marginLR(aSize) {
    margin-left: aSize;
    margin-right: aSize;
}

marginTB(aSize) {
    margin-top: aSize;
    margin-bottom: aSize;
}
