.org_switch_area {
  position: relative;
/* 1行の高さ */
  line-height: switchButtonHeight;
/* 文字間 */
  letter-spacing: 0;
/* 文字位置は中央 */
  text-align: center;
/* 文字サイズ */
  font-size: 16px;
/* 親要素が基点 */
  position: relative;
/* 中央寄せ */
  margin-right: 5px;
  margin-left: 5px;
/* ボタンの横幅 */
  width: 92px;
/* デフォルト背景色 */
  background: transparent;
/* === チェックボックスのラベル（ONのとき） ================ */
/* === 表示する文字（標準） ================================ */
}
.org_switch_area input[type='checkbox'] {
  display: none;
  width: 10px;
/* チェックボックス非表示 */
}
.org_switch_area label {
  display: block;
/* ボックス要素に変更 */
  box-sizing: border-box;
/* 枠線を含んだサイズ */
  height: switchButtonHeight;
/* ボタンの高さ */
  border: 2px solid #999;
/* 未選択タブのの枠線 */
  border-radius: 15px;
/* 角丸 */
}
.org_switch_area input[type='checkbox']:checked+label {
  border-color: #78bd78;
/* 選択タブの枠線 */
}
.org_switch_area label span:after {
  content: 'OFF';
/* 表示する文字 */
  padding: 0 0 0 16px;
/* 表示する位置 */
  color: #999;
/* 文字色 */
}
.org_switch_area .switch_image {
  position: absolute;
/* 親要素からの相対位置 */
  width: 24px;
/* 丸の横幅 */
  height: 24px;
/* 丸の高さ */
  background: #808080;
/* カーソルタブの背景 */
  top: 2px;
/* 親要素からの位置 */
  left: 2px;
/* 親要素からの位置 */
  border-radius: 24px;
/* 角丸 */
  transition: 0.2s;
/* 滑らか変化 */
}
.org_switch_area input[type='checkbox']:checked+label span:after {
/* 表示する文字 */
  content: 'ON';
/* 表示する位置 */
  padding: 0 16px 0 0;
/* 文字色 */
  color: #fff;
}
.org_switch_area input[type='checkbox']:checked~label {
  background: #008000;
}
.org_switch_area input[type='checkbox']:checked~.switch_image {
  transform: translateX(64px);
/* 丸も右へ移動 */
  background: #fff;
/* カーソルタブの背景 */
}
.RdoSwitchButton {
  display: inline-block;
  padding: 2px 2px;
  width: auto;
}
.RdoSwitchButton input {
  display: none;
}
.RdoSwitchButton label {
  border-radius: 4px;
  box-shadow: 2px 4px 0px #808080;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #fff;
  color: #000;
}
.RdoSwitchButton :checked + label {
  background-color: #808080;
  color: #fff;
}
.block {
  display: block;
  text-align: center;
}
.acd-button-container {
  display: inline-block;
}
.acd-button-container .acd-check {
  display: none;
}
.acd-button-container .acd-label {
  background: #333;
  color: #fff;
  margin-bottom: 1px;
  padding: 2px;
}
.acd-button-container .acd-content {
  background: #a52a2a;
  border: 1px solid #333;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: 0.5s;
  visibility: hidden;
  display: none;
}
.acd-button-container .acd-check:checked + .acd-label + .acd-content {
  height: 40px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
  display: block;
}
/*
 * variables
 */
.main_container {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #000;
  background-color: #faebd7;
}
.play_field_container {
  width: 720px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  margin-right: 3px;
}
.sample_field_container {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}
.game_controller_container {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  height: 40px;
  min-width: 480px;
  float: left;
  margin-bottom: 2px;
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
}
.goban_controller_container {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  height: 40px;
  float: left;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.mainPlayContainer {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  min-height: 512px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.goban_container {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  margin-left: 3px;
  margin-right: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 512px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cursor_agehama {
  cursor: url("../img/mouseAgehama.gif"), auto;
}
.cursor_black_stone {
  cursor: url("../img/blackStone.gif"), auto;
}
.cursor_white_stone {
  cursor: url("../img/whiteStone.gif"), auto;
}
.play_controller {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.data_container {
  background: Wheat;
  box-shadow: 2px 2px 1px #000;
  border: 1px solid #808080;
  min-height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.data_container input {
  width: 90%;
}
.goban_area {
  width: 400px;
  height: 380px;
  position: relative;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.play_option_area {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 4px;
  padding-left: 4px;
}
.turn_controller {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 120px;
}
.turn_controller button {
  padding: auto;
  width: 45%;
}
.turn_controller img {
  width: 100%;
}
.goban_area canvas {
  position: absolute;
  margin: auto;
}
.org_button {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 3px 0 #808080;
  cursor: pointer;
}
.org_button:active {
  top: 4px;
  box-shadow: 0 1px 0 #808080;
}
.btn_base {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 120px;
}
.btn_back {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nextTurnRow {
  height: 24px;
}
/* 汎用的なもの */
.radio_box {
  display: table-cell;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px #706b6b inset;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
}
.agehama_mode_area {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.agehama_swich_parts {
  display: table-cell;
}
.data_sync_container {
  display: inline-block;
}
