@import './common/*';

.main_container {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid violet;
    background-color: antiquewhite;
}

.game_controller_container {
    height: 40px;
    width: 100%;
    float: left;
    border: 1px solid black;
    margin-bottom: 2px;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}

.goban_controller_container {
    height: 40px;
    width: 100%;
    float: left;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.play_field_container {
    /* width: 100%; */
    /* height: 80%; */
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
}

.sample_field_container {
    /* width: 100%; */
    height: 80%;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
}

.goban_container {
    min-height: 512px;
    border: 1px;
    border-style: solid;
    border-color: brown;
    display: flex;
}

.data_container {
    border: 2px solid black;
    min-height: 25px;
    margin-bottom: 5px;
}

.goban_area {
    width: 400px;
    height: 380px;
    position: relative;
    border: 3px solid green;
    flex-grow: 1;
}

.play_option_area {
    flex-grow: 1;
    border: 1px solid blue;
}

.play_controller {
    border: 1px solid blue;
    height: 50%;
}

.turn_controller {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 120px;
}

.turn_controller button {
    padding: auto;
    width: 45%;
}

.turn_controller img {
    width: 100%;
}

.goban_area canvas {
    position: absolute;
    margin: auto;
}

.btn_base {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 120px;
}

.btn_back {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 汎用的なもの */
.radio_box {
    display: table-cell;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px rgb(112, 107, 107) inset;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
}

.agehama_swich_parts {
    display: table-cell;
}

.data_sync_container {
    display: inline-block;

    .acd-check {
        display: none;
    }

    .acd-label {
        background: #333;
        color: #fff;
        margin-bottom: 1px;
        padding: 2px;
    }

    .acd-content {
        background: brown;
        border: 1px solid #333;
        height: 0;
        opacity: 0;
        padding: 0 10px;
        transition: 0.5s;
        visibility: hidden;
        display: none;
    }

    .acd-check:checked + .acd-label + .acd-content {
        height: 40px;
        opacity: 1;
        padding: 10px;
        visibility: visible;
        display: block;
    }
}